:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

body {
  height: 100vh;
  font-family: "Red Hat Display";
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/pattern-background-desktop.svg);
  background-color: var(--Pale-blue);
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.order-card {
  background-color: var(--Very-pale-blue);
  max-width: 28rem;
  height: 600px;
  border-radius: 1rem;
  /* border: 1px solid red; */
}
.card-desc {
  /* border: 1px solid green; */
  margin: 0 50px 0 50px; /* Haut, Droite, Bas, Gauche */
}
.card-desc > p {
  font-size: 1rem;
  line-height: 1.7;
  color: var(--Desaturated-blue);
}
.subscription {
  /* margin: 0 50px 0 50px; Haut, Droite, Bas, Gauche */
  background-color: var(--Very-pale-blue);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 1rem;
  /* border: 1px solid orange; */
}
.plan {
  /* border: 1px solid; */
  display: flex;
  gap: 20px;
}
.plan-name {
  font-weight: 900;
}
.price {
  color: var(--Desaturated-blue);
}
.music-icon > div {
  border: 1px solid blue;
}
.link {
  flex: 1;
  font-weight: 900;
}
img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
h1 {
  font-weight: 900;
  font-size: 1.625rem;
}
.plan {
  padding: 10px;
  /* border: 1px solid red; */
}
.music-icon {
  height: 50px;
  width: 50px;
}
.action-button {
  margin: 0 50px 0 50px; /* Haut, Droite, Bas, Gauche */
  gap: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.action-button :first-child {
  border: none;
  background-color: var(--Bright-blue);
  color: var(--Very-pale-blue);
  font-weight: bold;
  padding: 1.2rem 0;
  font-size: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.5rem 0.5rem var(--pale-blue);
}

.action-button :last-child {
  /* display: block; */
  text-align: center;
  color: grey;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
